:root {
  /* color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-pupple: #f2e4f4;
  --color-red: red;
  /* size */
  --font-large: 22px;
  --font-medium: 18px;
  --font-small: 12px;
}
/* global setting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
ul {
  list-style: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
/* main setting */
body {
  background: center/cover fixed url("img/background.jpg");
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#shopping_list {
  width: 300px;
  height: 500px;
  border-radius: 21px;
  box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.1),
    1px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
/* header */
#header {
  background: rgba(237, 193, 211);
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
  width: 100%;
  height: 10%;
  border-radius: 21px 21px 0 0;
  text-align: center;
}
#header h1 {
  font-size: var(--font-medium);
  color: var(--color-white);
  line-height: 50px;
}
/* list_container */
#list_container {
  width: 100%;
  height: 75%;
  background: var(--color-light-pupple);
  overflow-y: scroll;
}

#list_container::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.remove_btn {
  background: transparent;
  transition: all 300ms ease-in-out;
}

.remove_btn:hover {
  transform: scale(1.1);
  color: var(--color-red);
}
/* text_write */
.text_write {
  width: 100%;
  height: 5%;
  border: none;
  padding-left: 10px;
}
.text_write:focus {
  outline: none;
}
/* footer */
#footer {
  background: rgba(237, 193, 211);
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
  width: 100%;
  height: 10%;
  border-radius: 0 0 21px 21px;
  text-align: center;
}
.add_btn {
  background: transparent;
  font-size: 30px;
  line-height: 50px;
  transition: all 300ms ease-in;
}

.add_btn:hover {
  transform: scale(1.3);
  color: var(--color-red);
}

@media (max-width: 360px) {
  #shopping_list {
    width: 100%;
    height: 100%;
  }

  #header,
  #footer {
    border-radius: 0;
  }
}
